/* 公共样式定义 */
:root {
  --play-width: 900px;
  --play-height: 450px;
  --control-bg-color: linear-gradient(rgba(0, 0, 0, 0), rgba(51, 51, 51, 0.6));
  --control-z-index: 2147483647;
  --player-control: 29px;
  --control-bar-height: 4px;
  --player-btn-height: 25px;
  --played-range-wrap-bg-color: rgba(255, 255, 255, 0.2);
  --played-range-bar-bg-color: rgb(255, 0, 0);
  --buffered-range-bar-bg-color: rgba(255, 255, 255, 0.4);
  --range-btn-color: rgb(255, 0, 0);
  --range-btn-z-index: 99;
  --playRate-btn-layer: rgb(146, 146, 153);
  --volume-line-height: 3px;
  --svg-fill: rgb(190, 190, 190);
}
