#player_control {
  width: 100%;
  height: $player-control;
  position: absolute;
  bottom: 0px;
  background: $control-bg-color;
  font-size: 12px;
  z-index: $control-z-index;
  transition: opacity 0.5s;
  /* 进度条样式定义 */
  .player_controlbar {
    width: 100%;
    cursor: pointer;
    height: $control-bar-height;
    .buffered {
      position: absolute;
      top: 0;
      height: $control-bar-height;
      width: 100%;
      .range_x {
        width: 100%;
        height: 100%;
        .range_bar {
          background-color: $buffered-range-bar-bg-color;
          width: 0%;
        }
      }
    }
    .played {
      position: absolute;
      top: 0;
      height: $control-bar-height;
      width: 100%;
      .range_x {
        width: 100%;
        height: 100%;
        .range_wrap {
          position: absolute;
          bottom: 0px;
          padding-top: 16px;
          cursor: pointer;
          .range_wrap_inner {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: $control-bar-height;
            background: $played-range-wrap-bg-color;
          }
        }
        .range_bar {
          background-color: $played-range-bar-bg-color;
          width: 0%;
        }
        .range_btn {
          width: 13px;
          height: 13px;
          border-radius: 50%;
          border: 8px solid transparent;
          z-index: $range-btn-z-index;
          .range_btn_inner {
            background-color: $range-btn-color;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
/* 动作按钮样式 */
.player_btn {
  position: absolute;
  bottom: 0;
  height: $player-btn-height;
  width: 100%;
  flex: 1;
  display: flex;
}
.volume_time,
.play,
.fullScreen_playRate {
  height: 100%;
  line-height: $player-btn-height;
  flex: 1 1 0%;
  display: flex;
  text-align: center;
}
.play {
  justify-content: center;
}
.fullScreen_playRate {
  justify-content: flex-end;
}
.volume_line,
.volume_btn,
.play_btn,
.fullscreen_btn,
.playRate_btn {
  cursor: pointer;
  height: 100%;
  width: 23px;
  margin: 0 12px;
}
/* playbackRate选项样式 */
.playRate_btn {
  width: 52px;
  margin-left: 20px;
  margin-right: 10px;
  height: $player-btn-height;
  position: relative;
  .btn {
    display: inline-block;
    width: 52px;
    line-height: $player-btn-height;
    height: $player-btn-height;
  }
  .layer {
    display: none;
    position: absolute;
    top: -100px;
    left: 0;
    line-height: $player-btn-height;
    width: 52px;
    background: $playRate-btn-layer;
    list-style-type: none;
  }
  &:hover.playRate_btn .layer {
    display: block;
  }
}
.playbackrate {
  display: inline-block;
  height: $player-btn-height;
  width: 52px;
  &:hover {
    background: $played-range-wrap-bg-color;
  }
}
/* 音量按钮 */
.volume_line {
  width: 80px;
  height: 100%;
  .range_x {
    margin-top: 11px;
    width: 80px;
    height: $volume-line-height;
    .range_wrap {
      position: absolute;
      bottom: -11px;
      padding-top: 7px;
      padding-bottom: 11px;
      cursor: pointer;
      .range_wrap_inner {
        position: absolute;
        bottom: 11px;
        width: 100%;
        height: $volume-line-height;
        background: $played-range-wrap-bg-color;
      }
    }
    .range_bar {
      background-color: $buffered-range-bar-bg-color;
      width: 0%;
    }
    .range_btn {
      display: none;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: 5px solid transparent;
      z-index: $range-btn-z-index;
      .range_btn_inner {
        background-color: $svg-fill;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  &:hover .range_x .range_btn {
    display: block;
  }
}
/* 时间样式定义 */
.time {
  height: 100%;
  margin-left: 15px;
  display: flex;
}
.cur_time {
  height: 100%;
  width: 40px;
}
.full_time {
  height: 100%;
  width: 40px;
}
svg {
  fill: $svg-fill;
}
